<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exit page</title>
    <style>
        body{
            background-color: whitesmoke;
            color: #262424;
            font-family: sans-serif;
        }
        h1{
            margin-top: 10em;
        }
    </style>
</head>
<body>
    <h1>
        <center>
            THANK YOU FOR USING THE SITE AND VOTING!!!
        </center>
    </h1>
</body>
</html>